@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Deposit", "Transaction")" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-circle-arrow-down"></span>存款</a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-circle-arrow-up"></span>取款</a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Details", "CheckingAccount")" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-question-sign"></span>余额查询</a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Create", "CheckingAccount")" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-gift"></span>注册账户</a>
    </div>
</div>

@section scripts
{
    <script> var testing = true;</script>
}
@*注释

    你在用 @Request.Browser.Browser, 发送邮件给support@qq.com, 转义@@qq

    @{
        var amounts = new List<Decimal> {100, 25.00m, 30.0m, -40};
    }

    <ul>
        @foreach (decimal amount in amounts)
        {
            <li>@formatAmount(amount)</li>
            <text>普通文本</text>
            @:普通文本
        }
    </ul>

    @helper formatAmount(decimal amount)
    {
        var color = "green";
        if (amount < 0)
        {
            color = "red";
        }
        <span style="color:@color">@String.Format("{0:c}", amount)</span>
    }
*@